# Quarto
/.quarto/
_output/
**/*.quarto_ipynb

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
api_keys.py
*.egg-info/
.eggs/

# OS
.DS_Store
Thumbs.db
